**/*.png
**/*.jpg
**/*.jpeg
**/*.webp
**/*.psd
**/*.txt
*/*/imagegrid2.css
*/*/imagegrid2.html
**/imagegrid2.js
**/types.js
**/build.js
**/grid.js
**/grid_headers.js
**/storage.js
**/imagevote.js
**/.DS_Store
node_modules/**
