#imagegrid {
  display: grid;
  width: min-content;
  grid-template-rows: min-content;
}

#imagegrid .image img.thumbnail {
  width: 128px;
  height: 128px;
  margin: 2px;
}

#imagegrid .image:hover img.thumbnail {
  /* visibility: hidden; */
  position: absolute;
}

#imagegrid .image span.image_select {
  visibility: hidden;
  position: absolute;
  color: greenyellow;
  background-color: black;
  opacity: 50%;
  padding: 5px;
  /*z-index: 1;*/
}
#imagegrid .image span.image_select.checked {
  visibility: visible;
}
#imagegrid .image.hidden span.image_select.checked {
  visibility: hidden;
}

#imagegrid span.image span.details {
  position: absolute;
  visibility: hidden;
  margin-top: 40px;
  margin-left: 40px;
  width: max-content;
  height: max-content;
  padding: 5px;
  border: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  position: absolute;
  width: min-content;
  z-index: 2;
}

#imagegrid span.image:hover span.details {
  visibility: visible;
}

#imagegrid .details_grid {
  display: grid;
  grid-template-columns: max-content;
  column-gap: 20px;
}

#imagegrid .details_grid .detailsKey {
  grid-column: 1;
}

#imagegrid .details_grid .detailsVal {
  grid-column: 2;
  font-family: 'Courier New', Courier, monospace;
}

#chooser {
  display: grid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  background-color: lightgray;
  padding: 3px;
  column-gap: 20px;
  row-gap: 5px;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  width: auto;
  margin-bottom: 20px;
}

#chooser .field {
  grid-column: 1;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chooser .values {
  grid-column: 2;
  line-height: 1.6;
}

#chooser .values span {
  background-color: gray;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px;
}

#chooser .values span.selected {
  background-color: green;
  color: white;
}

.hidden {
  visibility: hidden;
  width: 0;
  /* when a header gets hidden, its width becomes 0. but if the string in that grid cell 
     is long and now wraps, it will scroll everything below it down. accomodate this by
     using a negative margin, which forces the cell to take up no vertical space. */
  margin-bottom: -100em;
}