
input[type=checkbox] {
  visibility: hidden;
}

.grid_container {
  display: grid;
  column-gap: 2px;
  row-gap: 2px;
  grid-auto-flow: column;
}

/* STOLEN FROM https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 5px 0;
  margin-top: 50px;
  margin-left: 50px;
  padding: 5px;
  border-radius: 6px;
  text-align: left;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.header-prompt {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  grid-row: 4;
}

.header-model-name {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  grid-row: 5;
}

.header-sampler {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  grid-row: 6;
}

.header-checkbox {
  grid-row: 7;
}

img {
  width: 128px;
  height: 128px;
}

.tooltip .tooltiptext img {
  width: 512px;
  height: 512px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}