.model_list {
    display: grid;
    grid-template-columns: max-content;
    width: max-content;
}

.model_list span {
    width: max-content;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: -1px;
    margin-right: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 1px;
    text-align: center;
    background-color: green;
    /* text-align: right; */
}

.model_list .deselected {
    background-color: gray;
}

.model_list .submodelSteps {
    background: none;
}

.model_list .name { /* modelName */
    grid-column: 1;
}
.model_list .base { /* modelName */
    grid-column: 2;
    /* display: none; */
}
.model_list .extras {
    grid-column: 3;
}

.model_list .submodelStr {
    grid-column: 4;
    display: none;
}

.model_list .seed {
    grid-column: 5;
    /* display: none; */
}

.model_list .batch {
    grid-column: 6;
}

.model_list .learningRate {
    grid-column: 7;
}

.submodelSteps {
    grid-column: 8;
}

.submodelSteps .stepChoice {
    margin: 2px;
}

.model_list .header {
    background: none;
}

.model_list .choice {
    grid-column-start: 1;
    grid-column-end: 12;
}

/* #images .image {
    display: inline-block;
} */

#images .image img.thumbnail {
    width: 128px;
    height: 128px;
}

#images .image .details {
    position: absolute;
    visibility: hidden;
    width: min-content;
    height: max-content;

    background-color: black;
    color: white;
    text-shadow: black 1px 1px;

    margin-top: 64px;
    margin-left: -64px;
}

#images .image:hover .details  {
    visibility: visible;
}

#loading {
    position: fixed;
    font-size: 200%;
    background-color: lightseagreen;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}
#loading.hidden {
    visibility: hidden;
}
